@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
main > div:first-child {
  background: linear-gradient(
    to right,
    #3ecc16 22%,
    #2c7c0f 27% 73%,
    #3ecc16 78%
  );
  grid-template-areas:
    'x0 xx0 xx1 x1'
    'x2 xx2 xx3 x3'
    'x4 xx4 xx5 x5'
    'x6 xx6 xx7 x7';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main > div:last-child {
  grid-template-areas:
    '.'
    '.'
    '.'
    'stbtn'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    'deck'
    'x99';
}
.stbtn {
  grid-area: stbtn;
}
.deck {
  grid-area: deck;
  height: 25vh;
}
.x99 {
  grid-area: x99;
  height: 25vh;
}
.dashed {
  outline-style: dashed;
  outline-width: 1px;
}
.solid {
  outline-style: solid;
  outline-width: 1px;
}
.dotted {
  outline-style: dotted;
  outline-width: 1px;
}
.x0 {
  grid-area: x0;
}
.x1 {
  grid-area: x1;
}
.x2 {
  grid-area: x2;
}
.x3 {
  grid-area: x3;
}
.x4 {
  grid-area: x4;
}
.x5 {
  grid-area: x5;
}
.x6 {
  grid-area: x6;
}
.x7 {
  grid-area: x7;
}
.xx0 {
  grid-area: xx0;
}
.xx1 {
  grid-area: xx1;
}
.xx2 {
  grid-area: xx2;
}
.xx3 {
  grid-area: xx3;
}
.xx4 {
  grid-area: xx4;
}
.xx5 {
  grid-area: xx5;
}
.xx6 {
  grid-area: xx6;
}
.xx7 {
  grid-area: xx7;
}
.card {
  grid-template-columns: 3% 16% 1fr 16% 3%;
  grid-template-rows: 5% 12% 12% 1fr 12% 12% 5%;
}
@media (max-height: 600px) {
  .card {
    font-size: small;
    p:nth-child(5) {
      font-size: 3rem;
    }
  }
}
