@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
main > div:first-child {
  background: linear-gradient(
    to right,
    #3ecc16 22%,
    #2c7c0f 27% 73%,
    #3ecc16 78%
  );
  grid-template-areas:
    'x0 xx0 xx1 x1'
    'x2 xx2 xx3 x3'
    'x4 xx4 xx5 x5'
    'x6 xx6 xx7 x7';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main > div:last-child {
  grid-template-areas:
    '.'
    '.'
    '.'
    'stbtn'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    'deck'
    'x99';
}
.stbtn {
  grid-area: stbtn;
}
.deck {
  grid-area: deck;
  height: 25vh;
}
.x99 {
  grid-area: x99;
  height: 25vh;
}
.dashed {
  outline-style: dashed;
  outline-width: 1px;
}
.solid {
  outline-style: solid;
  outline-width: 1px;
}
.dotted {
  outline-style: dotted;
  outline-width: 1px;
}
.x0 {
  grid-area: x0;
}
.x1 {
  grid-area: x1;
}
.x2 {
  grid-area: x2;
}
.x3 {
  grid-area: x3;
}
.x4 {
  grid-area: x4;
}
.x5 {
  grid-area: x5;
}
.x6 {
  grid-area: x6;
}
.x7 {
  grid-area: x7;
}
.xx0 {
  grid-area: xx0;
}
.xx1 {
  grid-area: xx1;
}
.xx2 {
  grid-area: xx2;
}
.xx3 {
  grid-area: xx3;
}
.xx4 {
  grid-area: xx4;
}
.xx5 {
  grid-area: xx5;
}
.xx6 {
  grid-area: xx6;
}
.xx7 {
  grid-area: xx7;
}
.clubs_ace {
  background-image: url(/clubs_ace.jpg);
}
.clubs_eight {
  background-image: url(/clubs_eight.jpg);
}
.clubs_five {
  background-image: url(/clubs_five.jpg);
}
.clubs_four {
  background-image: url(/clubs_four.jpg);
}
.clubs_jack {
  background-image: url(/clubs_jack.jpg);
}
.clubs_king {
  background-image: url(/clubs_king.jpg);
}
.clubs_nine {
  background-image: url(/clubs_nine.jpg);
}
.clubs_queen {
  background-image: url(/clubs_queen.jpg);
}
.clubs_seven {
  background-image: url(/clubs_seven.jpg);
}
.clubs_six {
  background-image: url(/clubs_six.jpg);
}
.clubs_ten {
  background-image: url(/clubs_ten.jpg);
}
.clubs_three {
  background-image: url(/clubs_three.jpg);
}
.clubs_two {
  background-image: url(/clubs_two.jpg);
}
.diamonds_ace {
  background-image: url(/diamonds_ace.jpg);
}
.diamonds_eight {
  background-image: url(/diamonds_eight.jpg);
}
.diamonds_five {
  background-image: url(/diamonds_five.jpg);
}
.diamonds_four {
  background-image: url(/diamonds_four.jpg);
}
.diamonds_jack {
  background-image: url(/diamonds_jack.jpg);
}
.diamonds_king {
  background-image: url(/diamonds_king.jpg);
}
.diamonds_nine {
  background-image: url(/diamonds_nine.jpg);
}
.diamonds_queen {
  background-image: url(/diamonds_queen.jpg);
}
.diamonds_seven {
  background-image: url(/diamonds_seven.jpg);
}
.diamonds_six {
  background-image: url(/diamonds_six.jpg);
}
.diamonds_ten {
  background-image: url(/diamonds_ten.jpg);
}
.diamonds_three {
  background-image: url(/diamonds_three.jpg);
}
.diamonds_two {
  background-image: url(/diamonds_two.jpg);
}
.hearts_ace {
  background-image: url(/hearts_ace.jpg);
}
.hearts_eight {
  background-image: url(/hearts_eight.jpg);
}
.hearts_five {
  background-image: url(/hearts_five.jpg);
}
.hearts_four {
  background-image: url(/hearts_four.jpg);
}
.hearts_jack {
  background-image: url(/hearts_jack.jpg);
}
.hearts_king {
  background-image: url(/hearts_king.jpg);
}
.hearts_nine {
  background-image: url(/hearts_nine.jpg);
}
.hearts_queen {
  background-image: url(/hearts_queen.jpg);
}
.hearts_seven {
  background-image: url(/hearts_seven.jpg);
}
.hearts_six {
  background-image: url(/hearts_six.jpg);
}
.hearts_ten {
  background-image: url(/hearts_ten.jpg);
}
.hearts_three {
  background-image: url(/hearts_three.jpg);
}
.hearts_two {
  background-image: url(/hearts_two.jpg);
}
.spades_ace {
  background-image: url(/spades_ace.jpg);
}
.spades_eight {
  background-image: url(/spades_eight.jpg);
}
.spades_five {
  background-image: url(/spades_five.jpg);
}
.spades_four {
  background-image: url(/spades_four.jpg);
}
.spades_jack {
  background-image: url(/spades_jack.jpg);
}
.spades_king {
  background-image: url(/spades_king.jpg);
}
.spades_nine {
  background-image: url(/spades_nine.jpg);
}
.spades_queen {
  background-image: url(/spades_queen.jpg);
}
.spades_seven {
  background-image: url(/spades_seven.jpg);
}
.spades_six {
  background-image: url(/spades_six.jpg);
}
.spades_ten {
  background-image: url(/spades_ten.jpg);
}
.spades_three {
  background-image: url(/spades_three.jpg);
}
.spades_two {
  background-image: url(/spades_two.jpg);
}
.b0 {
  background-image: url(/0.jpg);
}
.b1 {
  background-image: url(/1.jpg);
}
.b2 {
  background-image: url(/2.jpg);
}
.b3 {
  background-image: url(/3.jpg);
}
.b4 {
  background-image: url(/4.jpg);
}
.b5 {
  background-image: url(/5.jpg);
}
.b6 {
  background-image: url(/6.jpg);
}
.b7 {
  background-image: url(/7.jpg);
}
