@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
main > div:first-child {
  background: linear-gradient(
    to right,
    #3ecc16 22%,
    #2c7c0f 27% 73%,
    #3ecc16 78%
  );
  grid-template-areas:
    '_0 _1 _2 _3'
    '_4 _5 _6 _7'
    '_8 _9 _10 _11'
    '_12 _13 _14 _15';
}
main > div:last-child {
  grid-template-areas:
    '.'
    '.'
    '.'
    'a'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    'b'
    'c';
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
  height: calc(25vh);
}
.c {
  grid-area: c;
  height: calc(25vh);
}
.dashed {
  outline-style: dashed;
  outline-width: 1px;
}
.solid {
  outline-style: solid;
  outline-width: 1px;
}
.dotted {
  outline-style: dotted;
  outline-width: 1px;
}
span.bb {
  grid-area: b;
}
span.cc {
  grid-area: c;
}
._0 {
  grid-area: _0;
}
._1 {
  grid-area: _1;
}
._2 {
  grid-area: _2;
}
._3 {
  grid-area: _3;
}
._4 {
  grid-area: _4;
}
._5 {
  grid-area: _5;
}
._6 {
  grid-area: _6;
}
._7 {
  grid-area: _7;
}
._8 {
  grid-area: _8;
}
._9 {
  grid-area: _9;
}
._10 {
  grid-area: _10;
}
._11 {
  grid-area: _11;
}
._12 {
  grid-area: _12;
}
._13 {
  grid-area: _13;
}
._14 {
  grid-area: _14;
}
._15 {
  grid-area: _15;
}
.card {
  grid-template-columns: 3% 16% 1fr 16% 3%;
  grid-template-rows: 5% 12% 12% 1fr 12% 12% 5%;
}
@media (max-height: 600px) {
  .card {
    font-size: small;
    p:nth-child(4) {
      font-size: 3rem;
    }
  }
}
